ws-interface/src/main/webapp/wsdl/NietGedaan.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://iac.nl.schemas/createHouseResponse"
	targetNamespace="http://iac.nl.schemas/createHouseResponse"
	elementFormDefault="qualified">

	<element name="createHouseResponse">
	<complexType>
		<sequence>
			<element name="straatnaam">
				<simpleType>
					<restriction base="string">
					</restriction>
				</simpleType>
			</element>	
			<element name="huisnummer">
			<simpleType>
			<restriction base="integer">
				<minInclusive value="1" />
				<!-- IVM dubbele huisnummers, zoveel getallen -->
				<maxInclusive value="999999" />
			</restriction>
			</simpleType>
			</element>
			<element name="huisnummertoevoeging">
				<simpleType>
					<restriction base="string">
					</restriction>
				</simpleType>
			</element>
			<element name="postcode">
				<simpleType>
					<restriction base="string">
						<!-- 
						Min en max length is niet nodig, want pattern value
					 -->
						<pattern value="[0-9][0-9][0-9][0-9][a-zA-Z][a-zA-Z]" />
					</restriction>
				</simpleType>
			</element>
			
			
			<element name="stad">
				<simpleType>
					<restriction base="string">
					<!--Westerhaar-Vriezenveensewijk === 28 -->
					<maxLength value="30" />
					</restriction>
				</simpleType>
			</element>
			
			<element name="aantalkamers">
				<simpleType>
					<restriction base="integer">
						<minInclusive value="1" />
						<maxInclusive value="20" />
					</restriction>
				</simpleType>
			</element>
			
			
			
			<element name="inwoners">
				<complexType>
				<!-- We hebben geen huizen die meer dan 25 personen kunnen hebben
				Omdat hjet meer dan 1 is geen all -->
				<sequence>
					<element name="inwoner" maxOccurs="25">
						<complexType>
							<sequence>
								<element name="voornaam">
									<simpleType>
										<restriction base="string">
											<!-- De super neppe DB kan niet meer dan 32 letters opslaan -->
											<maxLength value="32" />
										</restriction>
									</simpleType>
								</element>
								<element name="achternaam">
								<simpleType>
										<restriction base="string">
											<!-- De super neppe DB kan niet meer dan 32 letters opslaan -->
											<maxLength value="32" />
										</restriction>
									</simpleType>
								</element>
								<element name="geslacht">
									<simpleType>
										<restriction base="string">
											<!-- in ons systeem is geslacht geen spectrum -->
											<pattern value="man|vrouw" />
										</restriction>
									</simpleType>
								</element>
							</sequence>
						</complexType>
					</element>
					</sequence>
				</complexType>
			</element>
			
			
		</sequence>
	</complexType>
	</element>
</schema>